# Block direct access to sensitive files
<Files ".htpasswd">
    Require all denied
</Files>
# Protect admin panel with HTTP Basic Auth
<Files "panel-zzce8.php">
    AuthType Basic
    AuthName "Admin"
    AuthUserFile /var/www/html/.htpasswd
    Require valid-user
</Files>
